@import 'icon.css';
@import 'fonts.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


:root{
    --font_RAL: 'raleway';
    --font_R: 'roboto';
    --font_I: 'fontawesome';
    --title: #69CF17;
    --text: white;
    --button:  linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    --ads: #1E1E1E;
    --nav:rgba(0, 0, 0, 0.5);
    --img: rgba(12, 12, 12, 0.72);
}

.wrapper{
    background: var(--ads);
    font-family: 'raleway';
}

.header{
    background:  #1E1E1E;
    padding-bottom: 30px;
}

.ads{
    background: black;
    display: flex;
    margin: auto;
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
    padding: 21px 0 19px;
    position: relative;
}
.ads1{
    background: black;
}
.burger__icon{
    text-decoration: none;
    color: var(--text);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.ads ul{
    display: flex;
    margin-right: 256px;
}
.ads ul a{
    text-decoration: none;
    color: var(--text);
    margin-right: 20px;
    transition: 300ms;
}

.ads ul li:last-of-type a{
    margin-right: 0;
    font-family: var(--font_RAL);
}


.ads ul a:hover{
    color: var(--title);
}




.fixed{
position: fixed;
z-index: 1;
top: 0;
right: 0;
left: 0;  } 
.nav1{    
    background: black;
    border-top: 1px solid rgba(125, 115, 115, 0.5);
    backdrop-filter: blur(7.5px);
}


.nav{
    position: fixed;
    display: flex;
    margin: auto;
    /* max-width: 1140px; */
    width: 100%;
    justify-content: space-between;
    background: #292929;

}


.nav img{
    padding: 6px 
}


nav ul{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}


nav ul li a{
    padding: 22px 14px;
    color: azure;
    transition: 400ms;
}



nav ul li a:hover{
    background: rgba(105, 207, 23, 0.75);
}




.burger{
    height: 100vh;
    position: relative;
    padding-top: 100px;
}

.burger__pic{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

}
.content{
    display: flex;
    background: var(--img);
    height: 100vh;
    position: relative;
}
.container{
    margin: auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.burger__title{
    color: var(--title);
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 72px;
    margin-bottom: 18px;
}
.burger__text{
    color: var(--title);
    /* line-height: 24px; */
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 18px;
    padding-bottom: 56px;    
}
.burger__desc{
    color: var(--text);
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 24px;
}
.number{
    color: var(--text);
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(9px);
    width: 285px;
    height: 103px;
    font-size: 50px;    
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    margin-top: 56px;
    color: var(--text);
    font-size: 18px;
    font-family: var(--font_R);
    font-weight: 400;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    width: 255px;
    height: 51px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}
.btn:hover{
    background: #1E1E1E;
    color: #69CF17;
    transform: scale(1.3);
}





.button{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main1{
    margin: auto;
    max-width: 1140px;
    width: 100%;
}
.onas{
    position: relative;
}
.photo{
    position: absolute;
    object-fit: cover;
    
}
.burger__title1{
    position: relative;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    background: rgba(105, 207, 23, 0.7);
    color: transparent;
    -webkit-background-clip: text;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 55px;


    
}
.desc{
    color: var(--text);
    margin-top: 160px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.section{
    
    position: sticky;
    background: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 30px;
}
.footer__title{
    color: var(--title);
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 700;
}
.card{
    width: 100%;
    
}
.footer__end{
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
    height: 325px;
}
.footer__end1{
    margin: auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.footer__end1 img{
    width: 216px;
    height: 53px;

}
.footer__end1 ul{
    padding-top: 168px;
    display: flex;
    
}




.footer__end1 ul a{
    text-decoration: none;
    color: var(--text);
    margin-right: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    size: 20px;
    transition: 300ms;
}
.footer__end1 ul a:hover{
    color: black;
}
.nomer{
    text-decoration: none;
    color: var(--text);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

}
.footer__1{
    background: rgba(0, 0, 0, 0.5);
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerline{
    color: var(--text);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.main{
    width: 100%;
    background:  #393636;
}
.main__nav{
    margin-top: 58px;
     background:#292929;
     width: 100%;
    height: 65px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 120px;
}
.main__nav ul{
    display: flex;
    align-items: center;
    padding: 21px 0 21px 21px;
}
.main__nav ul a{
    color: var(--text);
    text-decoration: none;
    margin-right: 32px;
    transition: 300ms;
}
.main__nav ul a:hover{
    color: var(--title);
}

.Mrasm{
    position: relative;
}
.main__shop-icon{
    position: relative;
}
.main__content a{
    text-decoration: none;
}
 .main__rasm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
 }

.main__bace{
    background-color: #0C0C0C;
    padding: 15px;
    width: 370px;

}


.main__content-desc{
    width: 339px;
    color: var(--text);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
}
.main__content-title{
    font-family: var(--font_R);
    font-weight: 700;
    font-size: 19px;
    color: var(--text);
    padding:  15px 15px;
}


@keyframes beforeDote {
    0%{
        color: greenyellow;
        transform: rotate(90deg) scale(0.5) translateX(20px);
    }
    50%{
        color: yellow;
        transform: rotate(180deg) scale(0.5) translateX(0px);
    }
    100%{
        color: greenyellow;
        transform: rotate(360deg) scale(0.5) translateX(20px);
    }
    
}




.limiter{
    display: -webkit-box;
    overflow: hidden;
    min-height: 5px;
    white-space: normal;
    text-overflow: ellipsis; /* ... 3ta nuqta qoyadi*/ 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;
}



@media(max-width: 1140px){
     .burger__icon{
        margin-left: 35px;          
    }

    .ads ul{
        margin-right: 70px;
    }

    .nav img{
        margin-left: 35px;
    }

    .nav ul{
        margin-right: 70px;
    }
    .burger__title{
        font-size: 60px;
        margin-left: 40px;

    }
    .burger__text{
        font-size: 28px;
        margin-left: 60px;
    }
    .burger__desc{
        max-width: 1100px;
        /* text-align: center; */
        margin: auto;
        line-height: 24px;
    }
    .number{
        margin-left: 40px;
        width: 250px;
    }
    .btn{
        margin-right: 48px;
        width: 230px;
    }
    .burger__title1{
        margin-left: 400px;
    }
    .main__nav ul{
        margin-left: 48px;
       
    }
    .main__bace{
       margin: auto;
    }
    .footer__end1 img{
        margin-left: 49px;
    }
    .nomer{
        margin-right: 48px;
    }
}

@media(max-width: 1073px){
    .ads ul{
        margin-right: 40px;
    }

    .burger__desc{
        text-align: center;
    }
    .btn{
        /* margin-top: 0; */
        width: 200px;
        margin-bottom: 40px;
        
    }
    .main{
        margin: auto;
        
    }
    .number{
      /* padding-bottom: 30px; */
      margin-right: 48px;
      margin-bottom: 40px;
        width: 220px;
    }
    .main__content-desc{
        width: 320px;
        text-align: center;
        font-size: 18px;
    line-height: 25px;
    }
    .main__content-title{
        margin-left: 85px;
        
        /* margin: auto; */
    }
    .burger__pic{
        height: 100%;
    }
}





@media(max-width:701px){
    .nomer{
        display: flex;
        
        margin-right: 0;
        width: 150px;
    }
    .burger__pic{
        height: 100%;
    }

    /* .btn{
        padding-top: 30px;
    } */
}




@media(max-width:700px){
   
    .burger__pic{
        height: 100%;
    }
    .footer__end ul{
        margin: auto;        
        margin-right: 0;
        margin-left: 49px; 
    }
    .footer__end1 ul:nth-last-of-type(1){
        margin-left: 0;
    }
    .footer__end1 img {
        margin-left: 34px;
    }
    .burger__desc{
        width: 600px;
    }
    .number{
        width: 200px;
        margin-bottom: 70px;
    }
    .nomer{
        width: 180px;
        margin-right: 40px;
    }
    /* .btn{
        /* margin-top: 0;/ */
        /* margin-bottom: 40px; */
    
}

    @media(max-width:648px){
        .footer__end1 img{
            width: 199px;
            margin-left: 30px;
        }
        .footer__end1 ul{
            width: 189px;
        }
        .nav img{
            width: 200px;
            margin-left: 28px;
        }
        nav ul{
            width: 600px;
        }
        .footer__end1 img{
            width: 170px;
        }
        /* .footer__end1 ul{
            
        } */
    }




























